<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>GONGUERIE</title>
</head>
<body>
  <%- include("header") %>
  <h1>Sorry</h1>
  <h2>We couldn't found the page you were looking for.</h2>
</body>
</html>