<div class="header boxed">
  <div class="headerItem logo">
    <a href="/">
      <img src="/images/logo.svg" alt="GONGUERIE">
    </a>
  </div>
  <ul class="headerItem topUtil">
    <li><a href="/">홈</a></li>
    <li><a href="/">로그인</a></li>
    <li><a href="/">회원가입</a></li>
    <li><a href="/sitemap">사이트맵</a></li>
  </ul>
</div>
<div class="banner">
  <ul class="boxed">
    <li>공길이 소개</li>
    <li><a href="/announcements">알림마당</a></li>
    <li>학생마당</li>
    <li>학부모마당</li>
    <li>교사마당</li>
    <li>미래교육</li>
    <li>학습마당</li>
  </ul>
</div>