<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>GONGUERIE</title>
</head>
<body>
  <div class="header boxed">
    <div class="headerItem logo">
      <a href="/">
        <img src="/images/logo.svg" alt="GONGUERIE">
      </a>
    </div>
    <ul class="headerItem topUtil">
      <li><a href="/">홈</a></li>
      <li><a href="/">로그인</a></li>
      <li><a href="/">회원가입</a></li>
      <li><a href="/sitemap">사이트맵</a></li>
    </ul>
  </div>
  <div class="banner">
    <ul class="boxed">
      <li>학교소개</li>
      <li><a href="/announcements">알림마당</a></li>
      <li>think</li>
      <li>that</li>
      <li>I</li>
      <li>would</li>
      <li>not</li>
      <li>remember</li>
      <li>you?</li>
    </ul>
  </div>
  <div class="container">
    <div class="mainImageContainer">
      <img src="/images/olympics.jpeg" alt="olympics" style="width: 100%;">
    </div>
  </div>
</body>
</html>