<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>GONGUERIE</title>
</head>
<body>
  <%- include("header") %>
  <div class="index">
    <div class="mainImageContainer">
      <img src="/images/olympics.jpeg" alt="olympics">
    </div>
    <div class="boardPreview">
      hello
    </div>
  </div>
</body>
</html>