.writeButtonWrapper {
  margin: 10px 0;
}

.writeButton {
  width: 70px;
  height: 30px;
  border-radius: 1em;
}

/* postlist */

.postList > table {
  width: 100%;
  border: solid;
}

.postList > table > tbody > tr > td {
  text-align: center;
}