/* global */

body {
  background-color: #F4F4F4;
  font: 15px "Open Sans", Arial, sans-serif;
  margin-top: 0px;
}

.boxed {
  width: 1500px;
  margin: auto;
}

.textLeftAlign {
  text-align: left !important;
}

img {
  width: inherit;
}

/* header */

.logo {
  width: 100px;
}
.header {
  display: flex;
  flex-direction: row;
  flex: 3 1;
  align-items: center;
}

.headerItem {
  flex-grow: 1;
}

.topUtil{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.topUtil > * {
  flex-grow: 1;
}

.banner {
  border-top: solid #666C75;
  padding: 15px 0px;
}

.banner > ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.banner > ul > li {
  flex-grow: 1;
}

/* Button TODO */

.writeButtonWrapper {
  margin: 10px 0;
}

.writeButton {
  width: 70px;
  height: 30px;
  border-radius: 1em;
}